{% extends 'accounts/base.html' %}

{% block content %}

<div class="card-wrapper">
    <div class="register-card">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit">
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
            {% endfor %}
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}