{% extends 'accounts/base.html' %}

{% block content %}

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <h5>Customer: {{customer.name}}</h5>
            <hr>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Contact information</h5>
            <hr>
            <p>Email: {{customer.email}}</p>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Total orders</h5>
            <hr>
            <h1 style="text-align: center;">{{orders.count}}</h1>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <div class="card card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Date ordered</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td scope="row">{{order.product}}</td>
                            <td>{{order.date_created}}</td>
                            <td>{{order.status}}</td>
                        </tr>
                    {% empty %}
                        <p>No orders from {{customer.name}} currently.</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}